apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: student-frontend
  template:
    metadata:
      labels:
        app: student-frontend
    spec:
      containers:
      - name: student-frontend
        image: student-frontend:1.0
        imagePullPolicy: Never
        ports:
        - containerPort: 80
          protocol: TCP
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: student-frontend
spec:
  selector:
    app: student-frontend
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
  type: NodePort

